/* v1.0 | 20080212 */
/*Prep School Pendant*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
/*	font-size: 100%;*/
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	text-align: left;
}

.l {
	text-align: left;
}

.c {
	text-align: center;
}

p {
	margin: 5px 0px 10px 0px;
}

.indent {
	padding-left: 20px;
}

.col3 {
	float: left;
	width: 32%;
	padding: 10px 5px;
}

.grid {
	min-height: 3em;
}

.upload_error {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	margin: 10px 0px;
	padding: 5px;
	
	background-color: #FF8080;
}

/* end css reset */

html, body {
	height: 100%;
}

body {
	font-family: "Helvetica";
	font-size: 12px;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DDD));
	background-attachment: fixed;
}

#header, #footer, #inner-content, .message {
	width: 75%;
	min-width: 650px;
}

#header, #footer, #inner-content, .message {
	padding: 10px 0px;
	margin: 0px auto;
}

#header {
	padding-bottom: 0px;
}

#footer {
	clear: both;
	text-align: center;
}

#content {
/*	background: url("/images/110.gif");*/
/*	margin: 10px 0px;*/
/*	color: #1e2c30;*/
}

#inner-content {
	min-height: 400px;
/*	background-color: #eee;*/
}

.clear {
	clear: both;
}

#nav, #footer {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
	border-radius: 5px;
	border: 1px solid #bbb;
	clear: both;
}

#nav > .menu-item {
	display: inline-block;
	padding: 10px;
	margin: 1px 1px;
	color: #444;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#nav > .menu-item:hover, #nav > .current {
	color: white;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222));
	text-decoration: none;
}

a#site_label {
	margin: 5px;
	margin-bottom: 10px;
	text-shadow: 2px 2px 2px #999;
	font-size: 3em;
	font-weight: bold;
	float: right;
	display: inline-block;
	color: #333;
}

a#site_label:hover {
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #3399FF;
}

a:hover {
	text-decoration: underline;
}

a.red {
	color: #BA2F1D;
}

a.red:hover {
	background-color: #BA2F1D;
	color: #eee;
}

a.subject_code_toggle {
	display: block;
	text-align: center;
	font-size: 2em;
	padding: 10px 0px;
}

a.main-banner {
	text-align: center;
	display: block;
	padding: 90px 10px;
	line-height: 1.4;
	margin: 1.5em auto;
	width: 90%;
	border-radius: 15px;
	background-color: #66A3FF;
	color: #333;
	font-size: 32px;
	text-shadow: 1px 1px 0px #bad3ed;
}

a.main-banner:hover {
	-webkit-box-shadow: 2px 2px 2px #444;
	-moz-box-shadow: 2px 2px 2px #444;
	box-shadow: 2px 2px 2px #444;
	
	/* < IE9 won't show this but who really cares? */
}

a.main-banner:active {
	background-color: #66A3FF;
	position: relative;
	left: 2px;
	top: 2px;
}

.button {
	display: inline-block;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
	padding: 10px;
	color: #000;
	border: 1px solid #BBB;
	border-radius: 2px;
}

.button:hover {
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#999));
	color: #000;
}

.button:active {
	text-decoration: none;
	color: #0066FF;
}

/* flash messages */

.message {
	display: none;
	min-width: 650px;
	width: 75%;
	text-align: center;
	margin: 0 auto;
	background-color: #99FF99;
	color: #777;
}

.notice {
	background-color: #F5E67F;
}

.error {
	background-color: #BA2F1D;
	color: black;
}

.h2 {
	font-size: 2em;
}

div.course_container {
	padding: 15px 0px;
}

div.credits {
	font-size: 8pt;
	position: relative;
	top: 0.5em;
	float: right;
	text-align: center;
	min-width: 1em;
	min-height: 1em;
	line-height: 1em;
}

.big {
	font-size: 3em;
}

#searchbox {
	text-align: center;
}

#q {
	color: #bbb;
	font-size: 3em;
}

/* calendar */

div.calendar {
	width: 75%;
	float: right;
	font-size: 8pt;
	display: inline-block;
	overflow: hidden;
}

div.day-label {
	height: 20px;
}

div.day {
	float: left;
	width: 18%;
	border: 0.1em solid black;
	border-left: none;
	position: relative;
	background: #ddd;
}

div.hour {
	border-top: 1px dotted black;
	height: 24px;
}

div.day:hover {
	background-color: #FFFFCC;
}

div.weekend {
	background: #ccf;
}

.time-block {
	padding: 0px 5px;
	background: red;
	float: left;
	opacity: 0.75;
	overflow: hidden;
}

.time-block:hover {
	text-decoration: none;
}

.schedule-block {
	padding: 2px;
	border: 1px solid black;
	webkit-border-radius: 5px;
	moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	margin: 0 4px;
	width: 90%;
	z-index: 1;
}

.class-block {
	position: absolute;
}

div.times {
	border: 1px solid black;
	position: relative;
	background-color: white;
	width: 4em;
	float: left;
}

#class-list {
	float: left;
	margin-left: 10px;
	width: 22%;
	height: 450px;
	position: relative;
}

#class-list a {
	clear: both;
	position: static;
	width: 100%;
}

/* form errors */

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* tables */

.thead {
	background-color: yellow;
	font-weight: bold;
	border-bottom: 1px solid black;
}

form input[type="text"] {
	width: 40%;
}

div.login_form h2 {
	font-weight: 200;
	color: #aaa;
	
	text-shadow: #fff 1px 1px 1px;
}

div.login_form {
	width: 30%;
	margin: 75px auto 0px auto;
	color: #aaa;
	text-shadow: #fff 1px 1px 1px;
}

div.login_form input[type="text"], div.login_form input[type="password"] {
	border: 1px solid #ccc;
	font-size: 30px;
	width: 100%;
}

div.login_form input[type="submit"], div.login_form input[type="reset"] {
	font-size: 20px;
}

/* pages */

.left_col {
	width: 49%;
	float: left;
}
.right_col {
	width: 49%;
	float: right;
	text-align: right;
}
.tags {
	color: #888;
	font-style: italic;
}
#page_content {
	min-height: 400px;
}