<% if @user.login == @user.name %>
	<% flash[:notice] = raw("Hey you! yeah, what's-your-face! " + link_to("personalize your profile", edit_user_path( @user ) ) ) %>
<% end %>

<h2>Welcome, <%= @user.name %>!</h2>
<br
<div id="user_courses" style="width: 500px; text-align: left;">
	<%= render :partial => "courses" %>
</div>