<h1>about</h1><br />
<p class='paragraph'>
I mean, there are <%= @count %> courses in the curriculum <b>right now</b>.  How else could you sift through them all and try them in your schedule!?  You could put Staples out of business in a hot second with all that coloring and erasing.
</p> <br />
<p class='paragraph'>
Cue [plan]-i-fication. It takes the place of those awkwardly colored worksheets, replacing it with a slick web interface and a super-easy course listing search. Not sure which courses use the word "antiquated"? Search it, then add them all. Want to see all of the APA courses? Browse them in the Course Listing, or simply type "APA" into the search box.
