<p class='paragraph'>
I mean, there are <%= @count %> courses in the curriculum <b>right now</b>.  How else could you sift through them all and try them in your schedule!?  You could put Staples out of business in a hot second with all that coloring and erasing.
</p>
<p class='paragraph'>
That's why, during the 2007 school year, former Computer Science professor Joe Holt wrote the original Curriculum Planner.  In 2009, a group of enterprising students undertook overhauling the software, and added a number of features.  Neither version of the original Curriculum Planner saw much use.
</p>
<p class='paragraph'>
	This version, which I secretly like to call "Curriculum Planner 3.0", is completely new.  I was one of the students who worked on the curriculum planner project</p>
<br />
<div id="block_links"><%= link_to("home", "/") %></div>