<a href="/signup" class='main-banner'>
	<span class='main-title'>Looking for a way to plan your next term...online?</span>
	<br />
	<span class='main-title response'>Here it is.</span>
</a>
<div id="block_links"><%= #link_to("about", {:action=>"about"})
 %> <%= link_to("login", "/login") %> <%= link_to("signup", "/signup") %></div>
