<p id="notice"><%= notice %></p>

	<%= render :partial => "course" %>
	
<h3><%= link_to "Another!", '/courses/random', :class => "button" %> <%= link_to "Back to course listing", courses_path, :class => "button" %></h3>
