- flash.each do |key, msg|
	%div{ :class => [key, "message"], :id => "notice_#{key}" }= msg
	:javascript
		setTimeout(function() {
			$('div#notice_#{key}').slideUp(400, function() {$(this).remove();});
		}, 15000);
	- flash.discard

:javascript
	$(document).ready( function() {
		$('.message').slideDown();
	});